body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 20px;
    color: #333;
    text-align: center;
}

h1 {
    color: #4CAF50;
}

form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

label {
    display: block;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
    background-color: #e0f7fa;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
label:hover {
    background-color: #b2ebf2;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5);
    accent-color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#rezultat {
    margin-top: 20px;
    font-size: 24px;
    color: #4CAF50;
    opacity: 0;
    transition: opacity 1s;
}
#rezultat.show {
    opacity: 1;
}
/* Link stil unutar rezultata */
#rezultat a {
    color: #4CAF50;
}
#rezultat a:hover {
    color: #73c277;
}
#rezultat a:visited{
    color:#69926b;
}
#rezultat a:active {
    color: #4caf82;
}

#warning {
    color: red;
    font-weight: bold;
    display: none;
}